
*{
    padding: 0px;
    margin: 0px;
    font-family: 'poppins',sans-serif;
}
/*  section 1*/
body{
    justify-content: space-around;
    display: flex;
    color: black;
    background-color: rgba(214, 247, 247 ,0.7);
    
}

.section1{
    padding: 20px;
    height: 940px;
    width: 200px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
}
.Dashbord{
    margin-top: 30px;
    gap: 10px;
   display: flex;
   align-items: center;
   text-align: center;
   height: 44px;
   width:184px;
   background-color: #3F8CFF1A;
   border-radius: 10px;
}
.Dashbord div i ,h2{
    padding-left: 5px;
    color: #3F8CFF;
}

.section2{
   
    height: 940px;
    width: 1030px;
    background-color: none;
}



.select{
    margin-top: 100px;
    border-top: 2px solid rgb(121, 108, 108);
    border-bottom: 2px solid rgb(107, 98, 98);
}

.column a ,.logout{
   
   position: relative;
   top:650px;
    font-size: large; 
    color: black;
  text-decoration: none;
  left: 30px;

}
/*  main */




.main{
    display: flex;
    gap: 10px;
    align-items: center;
   text-align: center;
  justify-content: flex-end;
}
.circle2{
     height: 48px;
     width: 150px;
    border-radius: 10px;
   display: flex;
   align-items: center;
   text-align: center;
   background-color: #fff;
    margin-top: 10px;
   
}
.main h4{
    margin-left: 4px;
    color: #0A1629;
    font-size: 16px;
}
.main .circle{
    margin-top: 5px;
    height: 50px;
    width: 50px;

    border-radius: 50%;
    
}
.circle1{
    margin-top: 5px;
    background-color:#FFFFFF;
   height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
.circle1 i{
font-size: 23px;
}
.circle img{
   margin-top: 5px;
   height: 30px;
    width: 30px;
object-fit: cover;
border-radius: 50%;  
}

/* welcome */
header{
    position: relative;
    height: 200px;
    width: 1030px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

header div{
    padding-left: 15px;
    }
header h1{
    font-family: 'Poppins' sans-serif;
    }
header h3  ,p{
    padding-top: 10px;
    padding-bottom: 10px;
   color: #5E5E5E;
    font-weight: 400;
}
header p{
    font-size: 13.72px;
}
header .img1{
    position: absolute;
    top:20px;
    right:300px ;
}

header .img2{
    position: absolute;
    top:130px;
    right:300px ;
}
header .button{
    height: 35px;
    width: 97px;
    padding-left: 0px;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    background-color: #3F8CFF;
}
.button p{
    color: #FFFFFF;
    font-size: 13px;
}


/* all task*/
.all-task{
    color: #105DD0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 1030px;
    height: 103px;
    background-color: #3F8CFF;
    margin-top: 10px;
    border-radius: 15px;
}
.all-task h5{
    margin-left: 10px;
    font-weight: 600;
}
.task-circle{
   
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid rgb(150, 148, 148);
    border-bottom: 5px solid #06BA18;
    border-right: 5px solid #06BA18;
    border-left: 5px solid #06BA18;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    
}

.task-circle1{
  
    margin-left: 20px;
   height: 50px;
    width: 50px;
    border: 5px solid;
    border-color: #06BA18;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
   
}
.all-task div {
    gap: 10px;
    display: flex;
}


 .all-task2:hover{
 background-color: #105DD0;
    border: 1px solid #ffffff ;
    color: #ffffff;
}
.all-task2{
   
    color: #000000;
    height: 70px;
    width: 160px;
    background-color: #fff;
    border-radius: 10px;
     font-weight: 700;
     font-size: 16px;
    display: flex;
    text-align: center;
    align-items: center;
   
     
    justify-content: space-between;
}

.all-task3 {
    display: flex;
    flex-direction: column;
   font-weight: 700;
   font-size: 15px;
    color: #fff;

}

.all-task3 p{
    padding: 0px;
    padding-top: 5px;
    height: 25px;
    background-color: #FFFFFF;
    width: 70px;
    color: #000000;
    border-radius: 8px;
   font-weight: bold;
}

.taskss h2 {
    margin: 20px 10px 8px 10px;
    color: #000000;
    font-weight: 600;
}
/* card*/
.card{
    display: flex;
    flex-wrap: wrap;
    gap:20px
}

.card1{
    
    width: 500px;
   border-radius: 10px;
    background-color: #FFFFFF;
  
}
.card-information{
    justify-content: space-between;
    background-color: #3F8CFF;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}
.card-information h4{
    font-size: 14px;
    font-weight: 800;
    color: #FFFFFF;
}
h4 span{
    font-size: small;
    font-weight: 100;
    opacity: 0.9;
    color: #FFFFFF;
}


.card1 a{
    text-decoration: none;
    padding:3px 8px;
    color: #3F8CFF;
    background-color: #fff;
    border-radius: 4px;
}
.task-des{
    display: flex;
    padding: 4px 12px;
}
.task-des div{
    padding-right:5px;
}
.state{
        position: relative;
    margin-top: 3px;
    width: 280px;
    text-align: center;
    padding: 0px;
}
.state::before{
    content: "";
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    width: 5px;
    height: 70px;
    border-left: 5px solid #418DFF;
}
.p{
    font-size: 10px;
    font-weight: 400;
}
.Assigned{

    border-top: 1px solid  #E4E6E8;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 10px;
}
.Assigned a{
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    color: #0A1629;
    border: 1px solid #3F8CFF;
}
.Assigned i,.Assigned h3{
    padding: 2px;
    font-size: 14px;
   
}

.Assigned p{
    font-size: 14px;

    

}
